* {
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  width: 100%;
  background-color: #090a1a;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

section .row {
  display: flex;
  position: absolute;
  width: 130%;
  white-space: normal;
  padding: 10px 0;
  transform: rotate(-30deg);
  top: -50%;
}

i {
  color: rgba(0, 0, 0, 0.5);
  font-size: 65px;
  user-select: none;
  cursor: default;
  padding: 0 5px;
  transition: 1s;
}

i:hover {
  color: #00ff00;
  text-shadow: 0 0 120px #00ff00;
  transition: 0s;
}

section .row div {
  white-space: normal;
  font-size: 1em;
  animation: animate 2s linear infinite;
  /* animation-delay: 100s; */
}

section .row div:nth-child(2) {
  animation: animate2 2s linear infinite;
  /* animation-delay: 100s; */
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
